@import "tailwindcss";

body {
  /* outline: 1px solid red; */
  background-color: var(--color-default);
}
 html {
      scroll-behavior: smooth;
    }

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*{
  /* outline: 1px solid blue; */
  box-sizing: border-box;
}

@layer base {
  :root {
    /* Colors */
    --color-primary: #363636;
    --color-secondary: #379537;
    --color-default: #c4c4c4;
    --color-accent: #ae2300;
    --color-tranparent-green: #37953726;
    --color-transparent-default: #d2d2d22e;
    --color-dark-green: #011701;
    /* Fonts */
    --font-abel: "Abel", sans-serif;
    --font-merienda: "Merienda", serif;
    --font-inria: "Inria Sans", serif;
    --font-dosis: "Dosis", sans-serif;
    /* img- hero */
    --image-hero: url("/images/hero-img.jpg");
  }
}

@layer utilities {
  
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .text-default {
    color: var(--color-default);
  }
  .bg-default {
    background-color: var(--color-default);
    /* opacity: 60%; */
  }
  .bg-transparent-default {
    background-color: var(--color-transparent-default);
  }
  .bg-transparent-green {
    background-color: var(--color-tranparent-green);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-dark-green {
    background-color: var(--color-dark-green);
  }
  .font-abel {
    font-family: var(--font-abel);
  }
  .font-inria {
    font-family: var(--font-inria);
  }
  .font-dosis {
    font-family: var(--font-dosis);
  }
  .font-merienda {
    font-family: var(--font-merienda);
  }
  .transition {
    transition: all 0.3s ease-in-out;
  }
  .hero-image {
    background-image: var(--image-hero);
    background-color: #363636;
    background-blend-mode: overlay;
    /* background-position: center; */
    background-size: cover;
  }
  .border-secondary {
    border: 1px solid var(--color-secondary);
  }
  .btn{
    border: 1px solid var(--color-secondary);
  }
  .btn:hover {
    color: var(--color-accent);
    
  }
}
